/* Disable text selection for all elements */
* {
  user-select: none;          /* Standard syntax */
  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
}

/* later replace this with tailwindcss */

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.m-2 {
  margin: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.w-8 {
  width: 2rem;
}
.h-8 {
  height: 2rem;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}